:root {
  --primary: #ffffff;
  --secondary: #532827;
  --light: #a37443;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: var(--primary);
  color: var(--light);
}

body {
  color: #532827;
  background-color: #f4e3d1;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
@media screen and (max-width: 600px) {
  body {
    background-color: #f4e3d1;
  }
}

input {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.25rem;
  margin: 0 0.75rem;
  background-color: transparent;
  border: 1px solid var(--secondary);
  border-radius: 50%;
  text-align: center;
}
.BackButton {
  width: 100%;
  text-align: center;
}

/* Home */
.centered-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 57px;
}

.button {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background-color: #a37443;
  border: 1px solid white;
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  background-color: #532827;
}
@media screen and (max-width: 600px) {
  .button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    background-color: #a37443;
    border-radius: 9px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #532827;
  }
}
/* Home */

.button_voltar {
  display: inline-block;
  margin: 20px;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  background-color: #a37443;
  border: 1px solid white;
  border-radius: 12px;
  cursor: pointer;
}
.meal-info {
  display: flex;
  flex-direction: column;
}

.ver-imagem-button {
  margin-top: 0.5rem;
  padding: 0.5rem 0.1rem;
  background-color: #a37443;
  color: white;
  font-weight: 400;
  font-size: 13px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 100px;
  font-size: 10px;
}

.ver-imagem-button:hover {
  background-color: #a37443;
  color: white;
}

.menu {
  padding: 2rem 2.25rem 1rem;
  margin: 0 auto;
  max-width: 50rem;
  background-color: var(--light);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
.custom-close-button {
  font-size: 12px;
}
.swal2-close {
  border-color: none !important;
}
@media (min-width: 660px) {
  .menu {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr 1fr;
  }
}

.menu-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.container {
  text-align: -webkit-center;
}

.logo img {
  width: 278px;
  margin: 0 auto;
  display: block;
  grid-column: 1 / 3;
}

@media screen and (min-width: 660px) {
  .logo {
    margin-bottom: 0;
  }
}

.mains {
  grid-column: 1 / 2;
  margin-top: 54px;
}

.mains-name {
  margin: 0;
  flex-grow: 1;
}

.mains-description {
  flex: 1 1 100%;
  margin: 0.75rem 0 0;
  margin-bottom: 30px;
  color: var(--secondary);
}

.aside {
  grid-column: 2 / 3;
}
.wine_btn {
  display: flex;
  flex-direction: column;
}
.extras {
  color: var(--secondary);
  padding: 25px;
  margin-top: 23px;
}

.extras + .extras {
  margin-top: 23px;
}

@media (min-width: 660px) {
  .extras + .extras {
    margin-top: -48px;
  }
}

.extras .menu-item {
  margin-bottom: 0.75rem;
}

.extras-heading {
  margin: 0 0 1.5rem;
  border-bottom: 1px solid var(--secondary);
}

.extras-name {
  flex-grow: 1;
  font-weight: bold;
  margin-bottom: 10px;
}

.total {
  grid-column: 1 / 3;
  margin-top: 2.5rem;
  padding: 0.75rem 0 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: sticky;
  bottom: 0;
  color: var(--secondary);
  background-color: var(--light);
  border-top: 1px solid var(--secondary);
  box-shadow: 0 -0.5rem 0.75rem 0.5rem var(--light);
}

@media (min-width: 660px) {
  .total {
    margin-top: 0;
  }
}

.total-title {
  margin: 0;
}

.total-price {
  font-size: 1.5rem;
}
